USE [master]
GO
/****** Object:  Database [AloTraWeb]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE DATABASE [AloTraWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AloTraWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AloTraWeb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AloTraWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AloTraWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AloTraWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AloTraWeb]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Label] [nvarchar](100) NULL,
	[Recipient] [nvarchar](150) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Line1] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[IsDefault] [bit] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ManagerId] [bigint] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [varchar](220) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchInventory]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchInventory](
	[BranchId] [bigint] NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC,
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchRegistrationRequests]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchRegistrationRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[BranchId] [bigint] NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[AdminNote] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CartId] [bigint] NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtAddition] [decimal](12, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItemToppings]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItemToppings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CartItemId] [bigint] NOT NULL,
	[ToppingId] [bigint] NOT NULL,
	[PriceAtAddition] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Slug] [varchar](180) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CampaignId] [bigint] NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[MinOrderTotal] [decimal](18, 2) NULL,
	[StartAt] [datetime] NULL,
	[EndAt] [datetime] NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoomId] [bigint] NOT NULL,
	[SenderId] [bigint] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[SenderType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatRooms]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatRooms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ClosedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[RelatedEntity] [varchar](100) NULL,
	[RelatedEntityId] [bigint] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[VariantId] [bigint] NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[SizeName] [nvarchar](100) NULL,
	[Note] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ToppingTotal] [decimal](18, 2) NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemToppings]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemToppings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderItemId] [bigint] NOT NULL,
	[ToppingId] [bigint] NOT NULL,
	[ToppingName] [nvarchar](100) NOT NULL,
	[PriceAtAddition] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[BranchId] [bigint] NULL,
	[ShippingCarrierId] [bigint] NULL,
	[CouponId] [bigint] NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ChangedAt] [datetime] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpCodes]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpCodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Type] [varchar](30) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[UsedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[Gateway] [varchar](20) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[TransactionCode] [varchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[PaidAt] [datetime] NULL,
	[RawResponse] [varchar](max) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[RefundStatus] [nvarchar](50) NULL,
	[RetryCount] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMedia]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMedia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Url] [nvarchar](600) NOT NULL,
	[MediaType] [varchar](20) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [varchar](280) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RatingAvg] [decimal](3, 2) NOT NULL,
	[RatingCount] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[SizeId] [bigint] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Sku] [varchar](100) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionalCampaigns]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionalCampaigns](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [varchar](280) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BannerUrl] [nvarchar](500) NULL,
	[ViewCount] [bigint] NOT NULL,
	[StartAt] [datetime] NOT NULL,
	[EndAt] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[Value] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionTargets]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionTargets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CampaignId] [bigint] NOT NULL,
	[ProductId] [bigint] NULL,
	[TargetType] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMedia]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMedia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReviewId] [bigint] NOT NULL,
	[Url] [varchar](600) NOT NULL,
	[MediaType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderItemId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipperRegistrationRequests]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipperRegistrationRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CarrierId] [bigint] NULL,
	[AddressId] [bigint] NULL,
	[VehicleType] [varchar](20) NOT NULL,
	[VehiclePlate] [varchar](30) NOT NULL,
	[IdCardFrontUrl] [nvarchar](600) NULL,
	[IdCardBackUrl] [nvarchar](600) NULL,
	[DriverLicenseUrl] [nvarchar](600) NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[AdminNote] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CarrierId] [bigint] NULL,
	[Status] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NULL,
	[vehicleType] [nvarchar](50) NULL,
	[vehiclePlate] [nvarchar](50) NULL,
	[adminNote] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingAssignments]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingAssignments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ShipperId] [bigint] NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
	[DeliveredAt] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
	[Note] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingCarriers]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingCarriers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[BaseFee] [decimal](12, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toppings]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toppings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[IdCardNumber] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[EmailVerifiedAt] [datetime] NULL,
	[RoleId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 28/10/2025 3:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[UserId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [Recipient], [Phone], [Line1], [Ward], [District], [City], [IsDefault], [Latitude], [Longitude]) VALUES (7, 18, N'Nhà riêng', N'Nguyễn Văn A', N'0912345678', N'123 Lý Thường Kiệt', N'Phường 7', N'Quận 10', N'Hồ Chí Minh', 0, 10.77272, 106.660172)
INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [Recipient], [Phone], [Line1], [Ward], [District], [City], [IsDefault], [Latitude], [Longitude]) VALUES (8, 18, N'Cơ quan', N'Trần Thị B', N'0987654321', N'45 Nguyễn Huệ', N'Bến Nghé', N'Quận 1', N'Hồ Chí Minh', 1, 10.775658, 106.700424)
INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [Recipient], [Phone], [Line1], [Ward], [District], [City], [IsDefault], [Latitude], [Longitude]) VALUES (12, 18, N'Nhà bố mẹ', N'Lê Văn C', N'0909123456', N'20 Pasteur', N'Bến Nghé', N'Quận 1', N'Hồ Chí Minh', 0, 10.77726, 106.70095)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [ManagerId], [Name], [Slug], [Address], [Phone], [Status], [Latitude], [Longitude]) VALUES (24, 9, N'AloTra Sài Gòn', N'alotra-sai-gon', N'Lê Lợi, Khu phố 6, Phường Sài Gòn, Thành phố Hồ Chí Minh, 71006, Việt Nam', N'0869697790', N'ACTIVE', NULL, NULL)
INSERT [dbo].[Branches] ([Id], [ManagerId], [Name], [Slug], [Address], [Phone], [Status], [Latitude], [Longitude]) VALUES (25, 10, N'AloTra UTE', N'alotra-ute', N'Trường Đại học Sư phạm Kỹ thuật TP.HCM, 1, Võ Văn Ngân, Khu phố 2, Phường Thủ Đức, Thành phố Hồ Chí Minh, 00848, Việt Nam', N'0844755866', N'ACTIVE', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [Status]) VALUES (24, 2, N'AVAILABLE')
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [Status]) VALUES (24, 3, N'AVAILABLE')
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [Status]) VALUES (24, 4, N'AVAILABLE')
GO
SET IDENTITY_INSERT [dbo].[BranchRegistrationRequests] ON 

INSERT [dbo].[BranchRegistrationRequests] ([Id], [UserId], [Type], [BranchId], [Name], [Address], [Phone], [Status], [AdminNote], [CreatedAt], [UpdatedAt], [Latitude], [Longitude]) VALUES (31, 10, N'CREATE', 24, N'AloTra Sài Gòn', N'Lê Lợi, Khu phố 6, Phường Sài Gòn, Thành phố Hồ Chí Minh, 71006, Việt Nam', N'0869697790', N'APPROVED', NULL, CAST(N'2025-10-27T09:29:13.547' AS DateTime), CAST(N'2025-10-27T09:31:20.777' AS DateTime), 10.7740105, 106.7004831)
INSERT [dbo].[BranchRegistrationRequests] ([Id], [UserId], [Type], [BranchId], [Name], [Address], [Phone], [Status], [AdminNote], [CreatedAt], [UpdatedAt], [Latitude], [Longitude]) VALUES (32, 9, N'CREATE', 25, N'AloTra UTE', N'Trường Đại học Sư phạm Kỹ thuật TP.HCM, 1, Võ Văn Ngân, Khu phố 2, Phường Thủ Đức, Thành phố Hồ Chí Minh, 00848, Việt Nam', N'0844755866', N'APPROVED', NULL, CAST(N'2025-10-27T09:30:53.523' AS DateTime), CAST(N'2025-10-27T09:31:23.790' AS DateTime), 10.8527907, 106.7725584)
SET IDENTITY_INSERT [dbo].[BranchRegistrationRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [CartId], [VariantId], [Quantity], [PriceAtAddition], [Note]) VALUES (147, 2, 31, 1, CAST(29000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[CartItems] ([Id], [CartId], [VariantId], [Quantity], [PriceAtAddition], [Note]) VALUES (148, 2, 4, 1, CAST(30000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[CartItems] ([Id], [CartId], [VariantId], [Quantity], [PriceAtAddition], [Note]) VALUES (309, 5, 19, 1, CAST(48000.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItemToppings] ON 

INSERT [dbo].[CartItemToppings] ([Id], [CartItemId], [ToppingId], [PriceAtAddition]) VALUES (80, 310, 4, CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[CartItemToppings] ([Id], [CartItemId], [ToppingId], [PriceAtAddition]) VALUES (81, 310, 5, CAST(7000.00 AS Decimal(12, 2)))
INSERT [dbo].[CartItemToppings] ([Id], [CartItemId], [ToppingId], [PriceAtAddition]) VALUES (102, 346, 3, CAST(20000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[CartItemToppings] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [CreatedAt], [UpdatedAt]) VALUES (1, 18, CAST(N'2025-10-09T18:25:19.943' AS DateTime), CAST(N'2025-10-09T18:25:19.943' AS DateTime))
INSERT [dbo].[Carts] ([Id], [UserId], [CreatedAt], [UpdatedAt]) VALUES (2, 14, CAST(N'2025-10-10T07:09:18.237' AS DateTime), CAST(N'2025-10-10T07:09:18.237' AS DateTime))
INSERT [dbo].[Carts] ([Id], [UserId], [CreatedAt], [UpdatedAt]) VALUES (3, 12, CAST(N'2025-10-10T17:19:13.240' AS DateTime), CAST(N'2025-10-10T17:19:13.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [ParentId], [Name], [Slug], [SortOrder]) VALUES (1, NULL, N'Trà Sữa', N'tra-sua', 1)
INSERT [dbo].[Categories] ([Id], [ParentId], [Name], [Slug], [SortOrder]) VALUES (2, NULL, N'Trà Trái Cây', N'tra-trai-cay', 2)
INSERT [dbo].[Categories] ([Id], [ParentId], [Name], [Slug], [SortOrder]) VALUES (3, NULL, N'Cà Phê', N'ca-phe', 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [CampaignId], [Code], [Type], [Value], [MaxDiscount], [MinOrderTotal], [StartAt], [EndAt], [UsageLimit], [UsedCount], [Status], [CreatedAt]) VALUES (1, 4, N'FREE50K', N'ORDER_PERCENT', CAST(7.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-10-09T20:18:00.000' AS DateTime), CAST(N'2025-10-09T20:18:00.000' AS DateTime), 100, 0, N'ACTIVE', CAST(N'2025-10-11T21:12:39.100' AS DateTime))
INSERT [dbo].[Coupons] ([Id], [CampaignId], [Code], [Type], [Value], [MaxDiscount], [MinOrderTotal], [StartAt], [EndAt], [UsageLimit], [UsedCount], [Status], [CreatedAt]) VALUES (17, 5, N'SUNDAY', N'SHIPPING_FIXED', CAST(17000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-10-01T08:17:00.000' AS DateTime), CAST(N'2025-10-23T08:17:00.000' AS DateTime), NULL, 0, N'ACTIVE', CAST(N'2025-10-14T14:25:59.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [RoomId], [SenderId], [Content], [Timestamp], [IsRead], [SenderType]) VALUES (1, 1, 18, N'🍵 Tôi cần tư vấn loại trà sữa phù hợp', CAST(N'2025-10-18T21:53:52.423' AS DateTime), 0, N'USER')
INSERT [dbo].[ChatMessages] ([Id], [RoomId], [SenderId], [Content], [Timestamp], [IsRead], [SenderType]) VALUES (2, 1, 18, N'📞 Tôi cần hỗ trợ từ tư vấn viên', CAST(N'2025-10-18T21:54:07.347' AS DateTime), 0, N'USER')
INSERT [dbo].[ChatMessages] ([Id], [RoomId], [SenderId], [Content], [Timestamp], [IsRead], [SenderType]) VALUES (3, 1, 18, N'🍵 Tôi cần tư vấn loại trà sữa phù hợp', CAST(N'2025-10-18T21:54:55.793' AS DateTime), 0, N'USER')
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatRooms] ON 

INSERT [dbo].[ChatRooms] ([Id], [UserId], [CreatedAt], [Status], [ClosedAt]) VALUES (1, 18, CAST(N'2025-10-18T21:53:45.033' AS DateTime), N'ACTIVE', NULL)
INSERT [dbo].[ChatRooms] ([Id], [UserId], [CreatedAt], [Status], [ClosedAt]) VALUES (2, 10, CAST(N'2025-10-20T14:46:38.393' AS DateTime), N'ACTIVE', NULL)
INSERT [dbo].[ChatRooms] ([Id], [UserId], [CreatedAt], [Status], [ClosedAt]) VALUES (3, 16, CAST(N'2025-10-24T19:46:36.053' AS DateTime), N'ACTIVE', NULL)
SET IDENTITY_INSERT [dbo].[ChatRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [RelatedEntity], [RelatedEntityId], [IsRead], [CreatedAt]) VALUES (49, 18, N'ACCOUNT_UPDATE', N'Cập nhật thông tin cá nhân', N'Bạn đã cập nhật hồ sơ cá nhân vào 2025-10-09T19:33:03.449612400', N'USER', 18, 1, CAST(N'2025-10-09T19:33:03.457' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [RelatedEntity], [RelatedEntityId], [IsRead], [CreatedAt]) VALUES (51, 18, N'ACCOUNT_UPDATE', N'Cập nhật thông tin cá nhân', N'Bạn đã cập nhật hồ sơ cá nhân vào 2025-10-10T20:59:23.971147100', N'USER', 18, 1, CAST(N'2025-10-10T20:59:23.973' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [RelatedEntity], [RelatedEntityId], [IsRead], [CreatedAt]) VALUES (52, 18, N'ACCOUNT_UPDATE', N'Cập nhật thông tin cá nhân', N'Bạn đã cập nhật hồ sơ cá nhân vào 2025-10-10T20:59:49.654097200', N'USER', 18, 1, CAST(N'2025-10-10T20:59:49.653' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [ProductName], [SizeName], [Note], [Quantity], [UnitPrice], [ToppingTotal], [LineTotal]) VALUES (1, 1, 1, 61, N'Trà Sữa Phúc Long', N'Size Vừa', N'Đá: Bình thường | Ngọt: Nhiều', 1, CAST(35000.00 AS Decimal(18, 2)), CAST(32000.00 AS Decimal(18, 2)), CAST(67000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [ProductName], [SizeName], [Note], [Quantity], [UnitPrice], [ToppingTotal], [LineTotal]) VALUES (3, 3, 14, 14, N'Trà Vải Sen', N'Size Vừa', NULL, 2, CAST(45000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(90000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [ProductName], [SizeName], [Note], [Quantity], [UnitPrice], [ToppingTotal], [LineTotal]) VALUES (7, 7, 19, 19, N'Bá Tước Lựu Đỏ', N'Size Vừa', NULL, 1, CAST(48000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(48000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItemToppings] ON 

INSERT [dbo].[OrderItemToppings] ([Id], [OrderItemId], [ToppingId], [ToppingName], [PriceAtAddition]) VALUES (1, 1, 3, N'Thạch phô mai', CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItemToppings] ([Id], [OrderItemId], [ToppingId], [ToppingName], [PriceAtAddition]) VALUES (2, 1, 4, N'Kem sữa Macchiato', CAST(12000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItemToppings] ([Id], [OrderItemId], [ToppingId], [ToppingName], [PriceAtAddition]) VALUES (5, 10, 3, N'Thạch phô mai', CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItemToppings] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Code], [UserId], [BranchId], [ShippingCarrierId], [CouponId], [DeliveryAddress], [PaymentMethod], [Subtotal], [ShippingFee], [Discount], [Total], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'ALO-20251014-63971', 18, 25, 3, NULL, N'123 Lý Thường Kiệt, Phường 7, Quận 10, TP.HCM (Nguyen Thanh Tin - 0908753425)', N'COD', CAST(67000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(97000.00 AS Decimal(18, 2)), N'CANCELED', CAST(N'2025-10-14T14:53:52.667' AS DateTime), CAST(N'2025-10-15T14:29:25.900' AS DateTime))
INSERT [dbo].[Orders] ([Id], [Code], [UserId], [BranchId], [ShippingCarrierId], [CouponId], [DeliveryAddress], [PaymentMethod], [Subtotal], [ShippingFee], [Discount], [Total], [Status], [CreatedAt], [UpdatedAt]) VALUES (7, N'ALO-20251014-24440', 18, 24, 2, NULL, N'123 Lý Thường Kiệt, Phường 7, Quận 10, TP.HCM (Nguyen Thanh Tin - 0908753425)', N'COD', CAST(48000.00 AS Decimal(18, 2)), CAST(35000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(83000.00 AS Decimal(18, 2)), N'CANCELED', CAST(N'2025-10-14T15:23:30.627' AS DateTime), CAST(N'2025-10-23T15:29:23.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] ON 

INSERT [dbo].[OrderStatusHistory] ([Id], [OrderId], [Status], [ChangedAt], [Note]) VALUES (1, 8, N'PENDING', CAST(N'2025-10-14T15:46:08.830' AS DateTime), N'Đơn hàng được khởi tạo')
INSERT [dbo].[OrderStatusHistory] ([Id], [OrderId], [Status], [ChangedAt], [Note]) VALUES (2, 9, N'PENDING', CAST(N'2025-10-14T15:52:40.733' AS DateTime), N'Đơn hàng được khởi tạo')
INSERT [dbo].[OrderStatusHistory] ([Id], [OrderId], [Status], [ChangedAt], [Note]) VALUES (3, 10, N'PENDING', CAST(N'2025-10-14T15:57:56.133' AS DateTime), N'Đơn hàng được khởi tạo')
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[OtpCodes] ON 

INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [Type], [ExpiresAt], [UsedAt]) VALUES (22, 16, N'173738', N'REGISTER', CAST(N'2025-10-06T22:44:36.707' AS DateTime), CAST(N'2025-10-06T22:40:23.753' AS DateTime))
INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [Type], [ExpiresAt], [UsedAt]) VALUES (23, 17, N'755023', N'REGISTER', CAST(N'2025-10-07T13:06:36.083' AS DateTime), CAST(N'2025-10-07T13:03:27.920' AS DateTime))
INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [Type], [ExpiresAt], [UsedAt]) VALUES (28, 12, N'560468', N'PASSWORD_RESET', CAST(N'2025-10-08T07:36:49.380' AS DateTime), CAST(N'2025-10-08T07:32:48.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[OtpCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [OrderId], [Gateway], [Amount], [TransactionCode], [Status], [PaidAt], [RawResponse], [PaymentMethod], [RefundStatus], [RetryCount], [CreatedAt]) VALUES (1, 1, N'COD', CAST(97000.00 AS Decimal(12, 2)), N'ALO-20251014-63971', N'CANCELED', NULL, NULL, N'COD', NULL, 0, CAST(N'2025-10-23T15:11:12.967' AS DateTime))
INSERT [dbo].[Payments] ([Id], [OrderId], [Gateway], [Amount], [TransactionCode], [Status], [PaidAt], [RawResponse], [PaymentMethod], [RefundStatus], [RetryCount], [CreatedAt]) VALUES (2, 3, N'COD', CAST(100000.00 AS Decimal(12, 2)), N'ALO-20251014-12877', N'PENDING', NULL, NULL, N'COD', NULL, 0, CAST(N'2025-10-23T15:11:12.967' AS DateTime))
INSERT [dbo].[Payments] ([Id], [OrderId], [Gateway], [Amount], [TransactionCode], [Status], [PaidAt], [RawResponse], [PaymentMethod], [RefundStatus], [RetryCount], [CreatedAt]) VALUES (3, 7, N'COD', CAST(83000.00 AS Decimal(12, 2)), N'ALO-20251014-24440', N'PENDING', NULL, NULL, N'COD', NULL, 0, CAST(N'2025-10-23T15:11:12.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMedia] ON 

INSERT [dbo].[ProductMedia] ([Id], [ProductId], [Url], [MediaType], [IsPrimary]) VALUES (2, 2, N'https://res.cloudinary.com/dkuxcfsxa/image/upload/v1757919452/Gemini_Generated_Image_evqjcgevqjcgevqj_cewtsy.png', N'IMAGE', 1)
INSERT [dbo].[ProductMedia] ([Id], [ProductId], [Url], [MediaType], [IsPrimary]) VALUES (3, 3, N'https://res.cloudinary.com/dkuxcfsxa/image/upload/v1757919452/Gemini_Generated_Image_evqjcgevqjcgevqj_cewtsy.png', N'IMAGE', 1)
INSERT [dbo].[ProductMedia] ([Id], [ProductId], [Url], [MediaType], [IsPrimary]) VALUES (4, 4, N'https://res.cloudinary.com/dkuxcfsxa/image/upload/v1757919452/Gemini_Generated_Image_evqjcgevqjcgevqj_cewtsy.png', N'IMAGE', 1)
SET IDENTITY_INSERT [dbo].[ProductMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [RatingAvg], [RatingCount], [Status]) VALUES (1, 1, N'Trà Sữa Phúc Long', N'tra-sua-phuc-long', N'Hương vị trà sữa đặc trưng, đậm vị trà của Phúc Long.', CAST(0.00 AS Decimal(3, 2)), 0, N'ACTIVE')
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [RatingAvg], [RatingCount], [Status]) VALUES (2, 1, N'Trà Sữa Ô Long', N'tra-sua-o-long', N'Trà Ô Long thơm dịu, kết hợp hài hòa cùng sữa.', CAST(5.00 AS Decimal(3, 2)), 1, N'ACTIVE')
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [RatingAvg], [RatingCount], [Status]) VALUES (3, 1, N'Hồng Trà Sữa', N'hong-tra-sua', N'Hồng trà thơm nồng, đậm đà trong từng ngụm trà sữa.', CAST(5.00 AS Decimal(3, 2)), 1, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SizeId], [Price], [Sku], [Status]) VALUES (2, 2, 2, CAST(32000.00 AS Decimal(12, 2)), N'TSOL-M', N'ACTIVE')
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SizeId], [Price], [Sku], [Status]) VALUES (3, 3, 2, CAST(30000.00 AS Decimal(12, 2)), N'HTS-M', N'ACTIVE')
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SizeId], [Price], [Sku], [Status]) VALUES (4, 4, 2, CAST(30000.00 AS Decimal(12, 2)), N'TSL-M', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionalCampaigns] ON 

SET IDENTITY_INSERT [dbo].[PromotionalCampaigns] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionTargets] ON 

INSERT [dbo].[PromotionTargets] ([Id], [CampaignId], [ProductId], [TargetType], [CreatedAt]) VALUES (1, 4, 1, N'ALL_PRODUCTS', CAST(N'2025-10-12T09:11:50.107' AS DateTime))
INSERT [dbo].[PromotionTargets] ([Id], [CampaignId], [ProductId], [TargetType], [CreatedAt]) VALUES (2, 4, 2, N'ALL_PRODUCTS', CAST(N'2025-10-12T09:11:50.133' AS DateTime))
INSERT [dbo].[PromotionTargets] ([Id], [CampaignId], [ProductId], [TargetType], [CreatedAt]) VALUES (3, 4, 3, N'ALL_PRODUCTS', CAST(N'2025-10-12T09:11:50.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[PromotionTargets] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewMedia] ON 

INSERT [dbo].[ReviewMedia] ([Id], [ReviewId], [Url], [MediaType]) VALUES (3, 8, N'https://res.cloudinary.com/dmxxo6wgl/video/upload/v1761025768/reviews/ttaak3v5xur7stvnlfer.mkv', N'VIDEO')
INSERT [dbo].[ReviewMedia] ([Id], [ReviewId], [Url], [MediaType]) VALUES (5, 1, N'https://res.cloudinary.com/dmxxo6wgl/image/upload/v1761028043/reviews/ql5nh3rlndqrfup5tkvb.png', N'IMAGE')
INSERT [dbo].[ReviewMedia] ([Id], [ReviewId], [Url], [MediaType]) VALUES (6, 6, N'https://res.cloudinary.com/dmxxo6wgl/video/upload/v1761028280/reviews/blrlvboj2qng9vkpj2tf.mkv', N'VIDEO')
SET IDENTITY_INSERT [dbo].[ReviewMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [OrderItemId], [UserId], [ProductId], [Rating], [Content], [Status], [CreatedAt]) VALUES (1, 31, 18, 5, 4, N'Sản phẩm chất lượng, giao hàng nhanh.', N'VISIBLE', CAST(N'2025-10-21T10:21:14.070' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [OrderItemId], [UserId], [ProductId], [Rating], [Content], [Status], [CreatedAt]) VALUES (6, 30, 18, 19, 2, N'Hương vị chưa thực sự ngon, cần cải thiện thêm.', N'VISIBLE', CAST(N'2025-10-21T11:04:22.933' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [OrderItemId], [UserId], [ProductId], [Rating], [Content], [Status], [CreatedAt]) VALUES (8, 28, 18, 4, 4, N'Uống ổn, bao bì đẹp, sẽ ủng hộ lần sau.', N'VISIBLE', CAST(N'2025-10-21T12:49:25.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Code], [Name]) VALUES (1, N'ADMIN', N'Quản trị viên')
INSERT [dbo].[Roles] ([Id], [Code], [Name]) VALUES (2, N'VENDOR', N'Chủ cửa hàng')
INSERT [dbo].[Roles] ([Id], [Code], [Name]) VALUES (3, N'USER', N'Khách hàng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shippers] ON 

INSERT [dbo].[Shippers] ([Id], [UserId], [CarrierId], [Status], [IsDeleted], [DeletedAt], [Ward], [District], [City], [createdAt], [updatedAt], [vehicleType], [vehiclePlate], [adminNote]) VALUES (4, 18, 3, N'PENDING', 0, NULL, N'Phường 5', N'Quận 3', N'Hồ Chí Minh', CAST(N'2025-10-11T10:13:14.0999741' AS DateTime2), CAST(N'2025-10-28T13:55:33.2052381' AS DateTime2), N'Sirius', N'59A1-23456', N'Đang chờ duyệt hồ sơ')
INSERT [dbo].[Shippers] ([Id], [UserId], [CarrierId], [Status], [IsDeleted], [DeletedAt], [Ward], [District], [City], [createdAt], [updatedAt], [vehicleType], [vehiclePlate], [adminNote]) VALUES (5, 14, 2, N'APPROVED', 0, NULL, N'Vạn Thắng', N'Vạn Ninh', N'Khánh Hòa', CAST(N'2025-10-11T14:11:58.7989260' AS DateTime2), CAST(N'2025-10-11T14:15:47.2097935' AS DateTime2), N'Sirius', N'79VA-01119', N'Hồ sơ hợp lệ')
INSERT [dbo].[Shippers] ([Id], [UserId], [CarrierId], [Status], [IsDeleted], [DeletedAt], [Ward], [District], [City], [createdAt], [updatedAt], [vehicleType], [vehiclePlate], [adminNote]) VALUES (6, 71, 3, N'APPROVED', 0, NULL, N'Phường Tân Định', N'Quận 1', N'Hồ Chí Minh', CAST(N'2025-10-28T03:57:55.1213750' AS DateTime2), CAST(N'2025-10-28T03:58:28.0433811' AS DateTime2), N'Wave Alpha', N'59B2-55678', N'Hồ sơ đã duyệt')
SET IDENTITY_INSERT [dbo].[Shippers] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingAssignments] ON 

INSERT [dbo].[ShippingAssignments] ([Id], [OrderId], [ShipperId], [AssignedAt], [DeliveredAt], [Status], [Note]) VALUES (1, 32, 5, CAST(N'2025-10-15T20:09:00.883' AS DateTime), CAST(N'2025-10-15T21:00:46.663' AS DateTime), N'DELIVERED', NULL)
INSERT [dbo].[ShippingAssignments] ([Id], [OrderId], [ShipperId], [AssignedAt], [DeliveredAt], [Status], [Note]) VALUES (2, 33, 5, CAST(N'2025-10-15T21:07:12.783' AS DateTime), CAST(N'2025-10-15T21:07:41.963' AS DateTime), N'DELIVERED', NULL)
INSERT [dbo].[ShippingAssignments] ([Id], [OrderId], [ShipperId], [AssignedAt], [DeliveredAt], [Status], [Note]) VALUES (3, 34, 5, CAST(N'2025-10-15T21:28:27.547' AS DateTime), CAST(N'2025-10-15T21:28:41.827' AS DateTime), N'DELIVERED', NULL)
SET IDENTITY_INSERT [dbo].[ShippingAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingCarriers] ON 

INSERT [dbo].[ShippingCarriers] ([Id], [Name], [LogoUrl], [BaseFee], [IsActive], [IsDeleted], [DeletedAt]) VALUES (2, N'J&T Express', N'http://res.cloudinary.com/dmxxo6wgl/image/upload/v1760094395/hggzc9evv6rkctuezbru.png', CAST(35000.00 AS Decimal(12, 2)), 1, 0, NULL)
INSERT [dbo].[ShippingCarriers] ([Id], [Name], [LogoUrl], [BaseFee], [IsActive], [IsDeleted], [DeletedAt]) VALUES (3, N'247 Express', N'http://res.cloudinary.com/dmxxo6wgl/image/upload/v1760094473/n9aagqq9aktk6xlfdgaq.png', CAST(30000.00 AS Decimal(12, 2)), 1, 0, NULL)
INSERT [dbo].[ShippingCarriers] ([Id], [Name], [LogoUrl], [BaseFee], [IsActive], [IsDeleted], [DeletedAt]) VALUES (4, N'Grab Express', N'http://res.cloudinary.com/dmxxo6wgl/image/upload/v1760094686/ibvf6tcej9kx6g9lk6ry.webp', CAST(25000.00 AS Decimal(12, 2)), 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[ShippingCarriers] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [Code], [Name]) VALUES (1, N'S', N'Size Nhỏ')
INSERT [dbo].[Sizes] ([Id], [Code], [Name]) VALUES (2, N'M', N'Size Vừa')
INSERT [dbo].[Sizes] ([Id], [Code], [Name]) VALUES (3, N'L', N'Size Lớn')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Toppings] ON 

INSERT [dbo].[Toppings] ([Id], [Name], [Price], [Status]) VALUES (1, N'Trân châu đen', CAST(7000.00 AS Decimal(12, 2)), N'ACTIVE')
INSERT [dbo].[Toppings] ([Id], [Name], [Price], [Status]) VALUES (2, N'Pudding trứng', CAST(10000.00 AS Decimal(12, 2)), N'ACTIVE')
INSERT [dbo].[Toppings] ([Id], [Name], [Price], [Status]) VALUES (3, N'Thạch phô mai', CAST(20000.00 AS Decimal(12, 2)), N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Toppings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Phone], [PasswordHash], [FullName], [AvatarUrl], [Gender], [DateOfBirth], [IdCardNumber], [Status], [EmailVerifiedAt], [RoleId], [CreatedAt], [UpdatedAt], [FailedLoginAttempts], [LockoutEnd]) VALUES (8, N'admin@AloTraWeb.com', N'0901000001', N'$2a$10$/y1.Q4EgzpivhToqaR5/bOJRU714sFr.s3YjJprCHELkv9Nrk5shO', N'Admin Tổng', N'http://res.cloudinary.com/dmxxo6wgl/image/upload/v1759737271/fe6ozvsg7dzeyfgl8sn4.png', NULL, NULL, N'001001001001', N'ACTIVE', NULL, 1, CAST(N'2025-10-06T21:26:18.217' AS DateTime), CAST(N'2025-10-06T21:26:18.217' AS DateTime), 0, NULL)
INSERT [dbo].[Users] ([Id], [Email], [Phone], [PasswordHash], [FullName], [AvatarUrl], [Gender], [DateOfBirth], [IdCardNumber], [Status], [EmailVerifiedAt], [RoleId], [CreatedAt], [UpdatedAt], [FailedLoginAttempts], [LockoutEnd]) VALUES (9, N'manager.td@alotra.com', N'0901000002', N'$2a$10$22Vhwj2ePNidbNjwzAGGf.AFpbLk.gNVWoTeQoCq3YInX4AqSqqCW', N'Quản lý Thủ Đức', NULL, NULL, NULL, N'001001001002', N'ACTIVE', NULL, 2, CAST(N'2025-10-06T21:26:18.217' AS DateTime), CAST(N'2025-10-27T09:31:23.790' AS DateTime), 0, NULL)
INSERT [dbo].[Users] ([Id], [Email], [Phone], [PasswordHash], [FullName], [AvatarUrl], [Gender], [DateOfBirth], [IdCardNumber], [Status], [EmailVerifiedAt], [RoleId], [CreatedAt], [UpdatedAt], [FailedLoginAttempts], [LockoutEnd]) VALUES (10, N'manager.sg@alotra.com', N'0901000003', N'$2a$10$sZNoAqXEcFDWkFEv67I3P.lhhT2JRA6iiQrY/tcozOLGrgLXfo8r6', N'Quản lý Phường Sài Gòn', NULL, NULL, NULL, N'001001001003', N'ACTIVE', NULL, 2, CAST(N'2025-10-06T21:26:18.217' AS DateTime), CAST(N'2025-10-27T09:31:20.777' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (10, 4)
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (14, 4)
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (16, 4)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Branches__BC7B5FB68B82CBF3]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Branches] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CartItem]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [UQ_CartItem] UNIQUE NONCLUSTERED 
(
	[CartId] ASC,
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CartItem__066B27C3C89596EB]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[CartItemToppings] ADD UNIQUE NONCLUSTERED 
(
	[CartItemId] ASC,
	[ToppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Cart_User]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [UQ_Cart_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__BC7B5FB66F81493E]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA7AF2BEE63]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chatmessage_room]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [idx_chatmessage_room] ON [dbo].[ChatMessages]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chatmessage_sender]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [idx_chatmessage_sender] ON [dbo].[ChatMessages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chatmessage_unread]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [idx_chatmessage_unread] ON [dbo].[ChatMessages]
(
	[RoomId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chatroom_user]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [idx_chatroom_user] ON [dbo].[ChatRooms]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItemToppings_OrderItemId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItemToppings_OrderItemId] ON [dbo].[OrderItemToppings]
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__A25C5AA78040B082]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_BranchId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_BranchId] ON [dbo].[Orders]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CouponId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CouponId] ON [dbo].[Orders]
(
	[CouponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_ShippingCarrierId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ShippingCarrierId] ON [dbo].[Orders]
(
	[ShippingCarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistory_OrderId]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistory_OrderId] ON [dbo].[OrderStatusHistory]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__BC7B5FB66A0E1E29]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductV__0C37165BDB7C6748]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductV__CA1FD3C5DB0BBA75]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__BC7B5FB625DB9D15]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[PromotionalCampaigns] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Review_Once]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Review_Once] UNIQUE NONCLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__A25C5AA7B5F1985E]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ShpReq_User_Pending]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ShpReq_User_Pending] ON [dbo].[ShipperRegistrationRequests]
(
	[UserId] ASC,
	[Status] ASC
)
WHERE ([Status]='PENDING')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shippers__1788CC4D9BBD751D]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Shippers] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Shippers_User_NotDeleted]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Shippers_User_NotDeleted] ON [dbo].[Shippers]
(
	[UserId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shipping__C3905BCE72B722BC]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[ShippingAssignments] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipping__737584F62CC8306E]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[ShippingCarriers] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ShippingCarriers_Name_NotDeleted]    Script Date: 28/10/2025 3:42:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ShippingCarriers_Name_NotDeleted] ON [dbo].[ShippingCarriers]
(
	[Name] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sizes__A25C5AA78D75B895]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Sizes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Toppings_Name]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Toppings] ADD  CONSTRAINT [UQ_Toppings_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359E01DDFBFF]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FDE3436E]    Script Date: 28/10/2025 3:42:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[BranchInventory] ADD  DEFAULT ('DISABLED') FOR [Status]
GO
ALTER TABLE [dbo].[BranchRegistrationRequests] ADD  CONSTRAINT [DF_BrReq_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[BranchRegistrationRequests] ADD  CONSTRAINT [DF_BrReq_Created]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BranchRegistrationRequests] ADD  CONSTRAINT [DF_BrReq_Updated]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ChatRooms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatRooms] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductMedia] ADD  DEFAULT ('IMAGE') FOR [MediaType]
GO
ALTER TABLE [dbo].[ProductMedia] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [RatingAvg]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RatingCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[PromotionalCampaigns] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[PromotionalCampaigns] ADD  DEFAULT ('SCHEDULED') FOR [Status]
GO
ALTER TABLE [dbo].[PromotionalCampaigns] ADD  DEFAULT ('PERCENT') FOR [Type]
GO
ALTER TABLE [dbo].[PromotionalCampaigns] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PromotionalCampaigns] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PromotionTargets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewMedia] ADD  DEFAULT ('IMAGE') FOR [MediaType]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('VISIBLE') FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Shippers] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Shippers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Shippers] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ShippingAssignments] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ShippingAssignments] ADD  DEFAULT ('ASSIGNED') FOR [Status]
GO
ALTER TABLE [dbo].[ShippingCarriers] ADD  DEFAULT ((0)) FOR [BaseFee]
GO
ALTER TABLE [dbo].[ShippingCarriers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ShippingCarriers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Toppings] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_FailedLoginAttempts]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branches]  WITH NOCHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BranchInventory]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchInventory]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_BrReq_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[BranchRegistrationRequests] CHECK CONSTRAINT [FK_BrReq_Branch]
GO
ALTER TABLE [dbo].[BranchRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_BrReq_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BranchRegistrationRequests] CHECK CONSTRAINT [FK_BrReq_User]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__Varia__7D0E9093] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__Varia__7D0E9093]
GO
ALTER TABLE [dbo].[CartItemToppings]  WITH CHECK ADD FOREIGN KEY([CartItemId])
REFERENCES [dbo].[CartItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItemToppings]  WITH CHECK ADD FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Toppings] ([Id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [FK_Coupons_PromotionalCampaigns] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[PromotionalCampaigns] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [FK_Coupons_PromotionalCampaigns]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ChatRooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[ChatRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ChatRooms]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users]
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD  CONSTRAINT [FK_ChatRooms_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatRooms] CHECK CONSTRAINT [FK_ChatRooms_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItemToppings]  WITH CHECK ADD FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([Id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OtpCodes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductMedia]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([Id])
GO
ALTER TABLE [dbo].[PromotionTargets]  WITH CHECK ADD  CONSTRAINT [FK_PromotionTargets_Campaign] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[PromotionalCampaigns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionTargets] CHECK CONSTRAINT [FK_PromotionTargets_Campaign]
GO
ALTER TABLE [dbo].[ReviewMedia]  WITH CHECK ADD FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShpReq_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] CHECK CONSTRAINT [FK_ShpReq_Address]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShpReq_Carrier] FOREIGN KEY([CarrierId])
REFERENCES [dbo].[ShippingCarriers] ([Id])
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] CHECK CONSTRAINT [FK_ShpReq_Carrier]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShpReq_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests] CHECK CONSTRAINT [FK_ShpReq_User]
GO
ALTER TABLE [dbo].[Shippers]  WITH CHECK ADD FOREIGN KEY([CarrierId])
REFERENCES [dbo].[ShippingCarriers] ([Id])
GO
ALTER TABLE [dbo].[Shippers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShippingAssignments]  WITH CHECK ADD FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Shippers] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipperRegistrationRequests]  WITH CHECK ADD CHECK  (([Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING'))
GO
USE [master]
GO
