<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <!-- Hàng trên của Header: Logo, Search, User Actions -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/alotra-website/}">
                <!-- Đảm bảo bạn có file logo.png trong static/images/ -->
                <img th:src="@{/images/logo.jpg}" alt="AloTra Logo" style="height: 60px;"/>
            </a>

            <!-- Thanh tìm kiếm -->
            <form class="d-flex mx-auto search-bar" role="search">
                <input class="form-control me-2" type="search" placeholder="Bạn muốn mua gì..." aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>

            <!-- User Actions (Chon Phuong Thuc Nhan Hang, Mail, Account) -->
            <ul class="navbar-nav user-actions ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-motorcycle"></i> Chọn Phương Thức Nhận Hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/alotra-website/login}" id="authLink"><i class="fas fa-user"></i></a>
                </li>
                <!-- Nút đăng xuất (ban đầu ẩn) -->
                <li class="nav-item d-none" id="logoutNavItem">
                    <a class="nav-link" href="#" id="logoutBtn"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hàng dưới của Header: Menu chính -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavBottom" aria-controls="navbarNavBottom"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavBottom">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/}">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/products}">MENU</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/products}">SẢN PHẨM ĐÓNG GÓI</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/about}">VỀ CHÚNG TÔI</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/policy}">KHUYẾN MÃI</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/alotra-website/profile}">HỘI VIÊN</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>

